blue-color = rgb(68, 129, 187)
off-white = #eef

body
    font-size 16px
    background-color blue-color
    color off-white
    font-family Open Sans

.jumbotron
    background-position 50% 0 fixed
    background-size 100% auto

    text-align center
    
    height 20rem
    overflow hidden

    a
        color blue-color

.img-wrap
    background-color rgba(white, .2)
    padding 8px
    margin 0 auto

.drop-cap
    vertical-align bottom
    font-size 2.5em
    color off-white

.row-header
    color off-white

.member-bio
    .name
        margin 8px 0
    a
        color off-white
    .info
        margin 6px 0
        text-align center
    .avatar
        width 100px
