bg-color = rgb(25, 23, 33)
off-white = #eef
space-green = rgb(179, 209, 67)
space-pink = rgb(234, 20, 140)
space-orange = rgb(247, 160, 49)
space-teal = rgb(0, 170, 171)
space-purple = rgb(170, 77, 154)
space-gold = rgb(253, 196, 49)

@font-face
    font-family 'Rainyhearts'
    src url('../font/rainyhearts.ttf') format('truetype')

@font-face
    font-family 'Venus Rising'
    src url('../font/venusrisingrg.ttf') format('truetype')

*
    margin 0
    padding 0
    
a
    text-decoration none
    
    h3:hover
        color white

li
    list-style-type none

body
    font-size 16px
    line-height 1.5
    background-color bg-color
    color off-white
    font-family Roboto

.banner
    background-position 50%
    background-size 100% auto

    text-align center

    overflow hidden
    padding 0

    img.logo
        margin 3rem auto

    a
        color bg-color

.drop-cap
    vertical-align bottom
    font-size 2.5em
    color off-white

.row-header
    color off-white

.member-bio
    text-align center
    
    .name
        font-size 1.75rem
        color space-green
        margin 8px 0
    a
        color off-white
    .info
        margin 6px 0
    .avatar
        img
            display block
            margin 0 auto
    .quote
        color space-gold
        font-style italic
    .attr
        color space-teal

.member-ref
    .name
        font-weight bold

    .reflection
        padding-left 2rem

    padding-bottom 2rem

.cols
    display flex
    
.col
    flex 1 1 0
    padding 1rem
    
.cols-wrap
    flex-wrap wrap
    display flex
    
.col-wrap
    flex 1 1 30%
    padding 1rem

space-heading(space-color, upper-line)
    color space-color
    if upper-line
        border-top 6px solid space-color
    
.green-line
    space-heading(space-green, 1)

.orange-line
    space-heading(space-orange, 1)

.gold-line
    space-heading(space-gold, 1)

.teal-line
    space-heading(space-teal, 1)

.pink-line
    space-heading(space-pink, 1)

.purple
    space-heading(space-purple, 0)
    

.green
    space-heading(space-green, 0)

.orange
    space-heading(space-orange, 0)

.gold
    space-heading(space-gold, 0)

.teal
    space-heading(space-teal, 0)

.pink
    space-heading(space-pink, 0)

.purple
    space-heading(space-purple, 0)

.section
    h2
        padding-top 6px
    h3
        font-size 1.1rem
    h2, h3
        font-family Venus Rising
        text-align center
        
    padding 3rem
    max-width 900px
    margin 0 auto

.documentation
    text-align center

    h3:hover
        color space-gold