@font-face {
  font-family: 'Rainyhearts';
  src: url("./font/rainyhearts.ttf") format('truetype');
}
body {
  font-size: 16px;
  background-color: #646465;
  color: #eef;
  font-family: Open Sans;
}
.jumbotron {
  background-position: 50% 0 fixed;
  background-size: 100% auto;
  text-align: center;
  overflow: hidden;
  padding: 0;
}
.jumbotron img {
  visibility: hidden;
  margin: -3rem 0;
  width: 100%;
}
.jumbotron a {
  color: #646465;
}
.drop-cap {
  vertical-align: bottom;
  font-size: 2.5em;
  color: #eef;
}
.row-header {
  color: #eef;
}
.member-bio {
  font-family: Rainyhearts;
}
.member-bio .name {
  font-size: 2.7rem;
  margin: 8px 0;
}
.member-bio a {
  color: #eef;
}
.member-bio .info {
  margin: 6px 0;
  text-align: center;
}
.member-bio .avatar img {
  display: block;
  margin: 0 auto;
}
.team-container {
  display: flex;
}
.team-member {
  flex: 1 1 auto;
}
