@font-face {
  font-family: 'Rainyhearts';
  src: url("./font/rainyhearts.ttf") format('truetype');
}
@font-face {
  font-family: 'Venus Rising';
  src: url("./font/venus rising rg.ttf") format('truetype');
}
* {
  margin: none;
  padding: none;
}
li {
  list-style-type: none;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #191721;
  color: #eef;
  font-family: Roboto;
}
.jumbotron {
  background-position: 50%;
  background-size: 100% auto;
  text-align: center;
  overflow: hidden;
  padding: 0;
}
.jumbotron img.logo {
  margin: 3rem auto;
}
.jumbotron a {
  color: #191721;
}
.drop-cap {
  vertical-align: bottom;
  font-size: 2.5em;
  color: #eef;
}
.row-header {
  color: #eef;
}
.member-bio {
  text-align: center;
}
.member-bio .name {
  color: #b3d143;
  font-size: 2.7rem;
  margin: 8px 0;
}
.member-bio a {
  color: #eef;
}
.member-bio .info {
  margin: 6px 0;
}
.member-bio .avatar img {
  display: block;
  margin: 0 auto;
}
.member-bio .quote {
  color: #fdc431;
  font-style: italic;
}
.member-bio .attr {
  color: #00aaab;
}
.cols {
  display: flex;
}
.col {
  flex: 1 1 0;
  padding: 1rem;
}
.cols-wrap {
  flex-wrap: wrap;
  display: flex;
}
.col-wrap {
  flex: 1 1 30%;
  padding: 1rem;
}
.green-line {
  color: #b3d143;
  border-top: 6px solid #b3d143;
}
.orange-line {
  color: #f7a031;
  border-top: 6px solid #f7a031;
}
.gold-line {
  color: #fdc431;
  border-top: 6px solid #fdc431;
}
.teal-line {
  color: #00aaab;
  border-top: 6px solid #00aaab;
}
.pink-line {
  color: #ea148c;
  border-top: 6px solid #ea148c;
}
.purple {
  color: #aa4d9a;
}
.green {
  color: #b3d143;
}
.orange {
  color: #f7a031;
}
.gold {
  color: #fdc431;
}
.teal {
  color: #00aaab;
}
.pink {
  color: #ea148c;
}
.purple {
  color: #aa4d9a;
}
.section {
  padding: 3rem;
  max-width: 900px;
  margin: 0 auto;
}
.section h2 {
  padding-top: 6px;
}
.section h3 {
  font-size: 1.75rem;
}
.section h2,
.section h3 {
  font-family: Venus Rising;
  text-align: center;
}
