body {
  font-size: 16px;
  background-color: #aaa;
  color: #eef;
  font-family: Open Sans;
}
.jumbotron {
  background-position: 50% 0 fixed;
  background-size: 100% auto;
  text-align: center;
  height: 20rem;
  overflow: hidden;
}
.jumbotron a {
  color: #aaa;
}
.drop-cap {
  vertical-align: bottom;
  font-size: 2.5em;
  color: #eef;
}
.row-header {
  color: #eef;
}
.member-bio .name {
  margin: 8px 0;
}
.member-bio a {
  color: #eef;
}
.member-bio .info {
  margin: 6px 0;
  text-align: center;
}
.member-bio .avatar img {
  display: block;
  margin: 0 auto;
}
.team-container {
  display: flex;
}
.team-member {
  flex: 1 1 auto;
}
